	// Fade and hide
	
	@keyframes fade-and-hide {
		0% {
			display: block;
			opacity: 100%;
		}
		99% {
			opacity: 0;
		}
		100% {
			opacity: 0;
			display: none;
		}
	}

	@-webkit-keyframes rotating {
		0% { -webkit-transform: rotate(0); }
		100% { -webkit-transform: rotate(360deg); }
	}
	
	@-moz-keyframes rotating {
		0% { -moz-transform: rotate(0); }
		100% { -moz-transform: rotate(360deg); }
	}
	
	@-o-keyframes rotating {
		0% { -o-transform: rotate(0); }
		100% { -o-transform: rotate(360deg); }
	}
	
	@keyframes rotating {
		0% { transform: rotate(0); }
		100% { transform: rotate(360deg); }
	}
	
	@-webkit-keyframes appear-up {
		0% { -webkit-transform: translateY(32px); opacity: 0; }
		100% { -webkit-transform: translateY(0); opacity: 1; }
	}
	
	@-moz-keyframes appear-up {
		0% { -moz-transform: translateY(32px); opacity: 0; }
		100% { -moz-transform: translateY(0); opacity: 1; }
	}
	
	@-o-keyframes appear-up {
		0% { -o-transform: translateY(32px); opacity: 0; }
		100% { -o-transform: translateY(0); opacity: 1; }
	}
	
	@keyframes appear-up {
		0% { transform: translateY(32px); opacity: 0; }
		100% { transform: translateY(0); opacity: 1; }
	}
	
	// Move down bounce
	
	@-moz-keyframes move-down-bounce {
		0%,
		100%,
		20%,
		50%,
		80% {
			-moz-transform: translateY(0);
			transform: translateY(0)
		}
		40% {
			-moz-transform: translateY(-16px);
			transform: translateY(-16px)
		}
		60% {
			-moz-transform: translateY(-7px);
			transform: translateY(-7px)
		}
	}
	@-webkit-keyframes move-down-bounce {
		0%,
		100%,
		20%,
		50%,
		80% {
			-moz-transform: translateY(0);
			transform: translateY(0)
		}
		40% {
			-moz-transform: translateY(-16px);
			transform: translateY(-16px)
		}
		60% {
			-moz-transform: translateY(-7px);
			transform: translateY(-7px)
		}
	}
	@keyframes move-down-bounce {
		0%,
		100%,
		20%,
		50%,
		80% {
			-moz-transform: translateY(0);
			-ms-transform: translateY(0);
			-webkit-transform: translateY(0);
			transform: translateY(0)
		}
		40% {
			-moz-transform: translateY(-16px);
			-ms-transform: translateY(-16px);
			-webkit-transform: translateY(-16px);
			transform: translateY(-16px)
		}
		60% {
			-moz-transform: translateY(-7px);
			-ms-transform: translateY(-7px);
			-webkit-transform: translateY(-7px);
			transform: translateY(-7px)
		}
	}
