/******************************************* Tooltip */
@charset "UTF-8";

@import 'defaults';

.tooltip {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: $gap1 $gap2;
	max-width: 360px;
	max-height: 90vh;
	z-index: 999999;
	font-size: $fontS;
	background-color: _(tooltipBgColor);
	color: _(tooltipColor);
	transition: opacity $transTime linear;
	border-radius: _U(brs,px);
	h1, h2, h3, h4, h5, h6, a {
		color: _(tooltipColor);
	}
	a {
		text-decoration: underline;
	}
	form {
		padding: $gap1;
		&.copy-url {
			input[name=url] {
				display: block;
			}
			button {
				margin-left: .5rem;
			}
		}
	}
	label {
		font-size: $fontM;
		color: _(tooltipColor);
		text-transform: none;
	}
	input {
		margin-bottom: $gap1;
		&.copied {
			color: red;
		}
	}
	> .photodata {
		margin: (-$gap1) (-$gap2);
	}
	.button {
		margin-bottom: 0;
	}
	.button.small {
		color: _(tooltipColor);
		&:hover {
			color: _(buttonTextColor);
		}
	}
	> .nub {
		position: absolute;
		display: block;
		padding: 0;
		width: 0;
		height: 0;
		border: solid 5px;
		border-color: transparent transparent _(tooltipBgColor) transparent;
	}
	&.valign-top > .nub {
		border-color: _(tooltipBgColor) transparent transparent transparent;
	}
	&.valign-middle > .nub {
	}
	&.valign-middle.align-left > .nub {
		border-color: transparent transparent transparent _(tooltipBgColor);
	}
	&.valign-middle.align-right > .nub {
		border-color: transparent _(tooltipBgColor) transparent transparent;
	}
	&.wide {
		max-width: 560px;
	}
	&.player {
		padding: $gap1;
		width: 280px;
		audio {
			max-width: 100%;
		}
		.play-list {
			padding: 0;
			list-style-type: none;
			line-height: 2;
			text-align: center;
			max-height: 8em;
			overflow-x: hidden;
			overflow-y: auto;
			li {
				padding: 0;
				border-radius: _U(brm,px);
				&:hover {
					background-color: _(buttonShadeColor);
				}
				a {
					cursor: pointer;
					text-decoration: none;
				}
				&:hover,
				&.active {
					color: _(buttonTextColor);
					background-color: _(buttonBgColor);
				}
			}
		}
	}
	&.zoom-panel {
		padding: 0;
		.zoom-control {
			display: flex;
			flex-direction: row;
			padding: 0;
			border-radius: _U(brs,px);
			overflow: hidden;
			input[name=zoom-level] {
				width: 120px;
				margin: $gap1;
			}
			a {
				user-select: none;
				text-decoration: none;
				display: inline-flex;
				position: relative;
				width: 3rem;
				height: 3rem;
				content: ' ';
				background-color: _(buttonBgColor);
				border-radius: 0;
			}
			a::before,
			a::after {
				position: absolute;
				content: '';
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				background-color: _(buttonTextColor);
			}
			a::before {
				width: 1rem;
				height: .125rem;
			}
			a.zoom-in::after {
				width: .125rem;
				height: 1rem;
			}
		}
	}
}
