/* laza.lightbox.scss */
@keyframes fade-and-hide {
  0% {
    opacity: 100%;
    visibility: visible;
    display: block; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none; } }
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotating {
  0% {
    -moz-transform: rotate(0); }
  100% {
    -moz-transform: rotate(360deg); } }
@-o-keyframes rotating {
  0% {
    -o-transform: rotate(0); }
  100% {
    -o-transform: rotate(360deg); } }
@keyframes rotating {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes appear-up {
  0% {
    -webkit-transform: translateY(32px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes appear-up {
  0% {
    -moz-transform: translateY(32px);
    opacity: 0; }
  100% {
    -moz-transform: translateY(0);
    opacity: 1; } }
@-o-keyframes appear-up {
  0% {
    -o-transform: translateY(32px);
    opacity: 0; }
  100% {
    -o-transform: translateY(0);
    opacity: 1; } }
@keyframes appear-up {
  0% {
    transform: translateY(32px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes move-down-bounce {
  0%,
		100%,
		20%,
		50%,
		80% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-16px);
    transform: translateY(-16px); }
  60% {
    -moz-transform: translateY(-7px);
    transform: translateY(-7px); } }
@-webkit-keyframes move-down-bounce {
  0%,
		100%,
		20%,
		50%,
		80% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-16px);
    transform: translateY(-16px); }
  60% {
    -moz-transform: translateY(-7px);
    transform: translateY(-7px); } }
@keyframes move-down-bounce {
  0%,
		100%,
		20%,
		50%,
		80% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-16px);
    -ms-transform: translateY(-16px);
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px); }
  60% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px); } }
/* Loading animation */
@-webkit-keyframes lightbox-loading {
  0% {
    opacity: .5;
    -webkit-transform: scale(0.75); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1); }
  100% {
    opacity: .5;
    -webkit-transform: scale(0.75); } }
@-moz-keyframes lightbox-loading {
  0% {
    opacity: .5;
    -moz-transform: scale(0.75); }
  50% {
    opacity: 1;
    -moz-transform: scale(1); }
  100% {
    opacity: .5;
    -moz-transform: scale(0.75); } }
@keyframes lightbox-loading {
  0% {
    opacity: .5;
    transform: scale(0.75); }
  50% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: .5;
    transform: scale(0.75); } }
@-moz-keyframes timer {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@-webkit-keyframes timer {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@keyframes timer {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.use-mainbg .lightbox .lightbox-overlay {
  background-image: <%=backgroundImage? ("url(" + backgroundImage + ")") : "none"%>;
  background-position: <%=backgroundPos? backgroundPos : "top center"%>;
  background-repeat: <%=(backgroundImage && backgroundRepeat && backgroundRepeat !== "stretch")? backgroundRepeat : "repeat"%>;
  background-size: <%=(backgroundImage && backgroundRepeat === "stretch")? "cover" : "auto"%>;
  background-attachment: fixed; }

.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200000; }
  .lightbox .lightbox-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: ${lightboxBgColor};
    z-index: 0; }
  .lightbox .lightbox-loading,
  .lightbox .lightbox-loading div {
    border-radius: 50%; }
  .lightbox .lightbox-loading {
    position: absolute;
    margin: -20px 0 0 -20px;
    padding: 10px;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 40px;
    z-index: 1; }
    .lightbox .lightbox-loading div {
      height: 20px;
      width: 20px;
      background-color: #fff;
      -moz-animation: lightbox-loading 1s ease infinite;
      -webkit-animation: lightbox-loading 1s ease infinite;
      animation: lightbox-loading 1s ease infinite; }
  .lightbox .lightbox-main .lightbox-loading div {
    background-color: ${buttonBgColor}; }
  .lightbox .thumb-strip {
    position: absolute;
    max-width: 100%;
    transform: translateX(-50%);
    left: 50%;
    top: -${thumbstripHeight}px;
    height: ${thumbstripHeight}px;
    padding: 0 5px;
    background-color: ${lightboxBoxBg};
    border-radius: 0 0 ${brm}px ${brm}px;
    box-shadow: ${lightboxBoxShadow};
    z-index: 10;
    text-align: left;
    transition: top 300ms ease-out, background-color 300ms, opacity 300ms; }
    .lightbox .thumb-strip .thumb-cont {
      position: relative;
      height: 100%;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none; }
      .lightbox .thumb-strip .thumb-cont .thumbs {
        margin-top: 5px;
        height: ${thumbsHeight}px;
        white-space: nowrap;
        transform: translateX(0); }
        .lightbox .thumb-strip .thumb-cont .thumbs a {
          display: inline-block;
          height: 100%;
          vertical-align: top;
          margin: 0 1px 0 0;
          padding: 0 0 4px 0;
          cursor: default;
          line-height: ${thumbstripHeight}px; }
          .lightbox .thumb-strip .thumb-cont .thumbs a:hover {
            background-color: ${lightboxButtonHover}; }
          .lightbox .thumb-strip .thumb-cont .thumbs a.active {
            background-color: ${lightboxTextColor}; }
          .lightbox .thumb-strip .thumb-cont .thumbs a img {
            vertical-align: top; }
    .lightbox .thumb-strip button {
      position: absolute;
      display: none;
      color: ${lightboxTextColor};
      transition: color 500ms; }
      .lightbox .thumb-strip button.left, .lightbox .thumb-strip button.right {
        width: 3rem;
        font-size: 1.5rem;
        text-align: center;
        top: 0;
        height: 100%; }
      .lightbox .thumb-strip button.left {
        left: 0; }
      .lightbox .thumb-strip button.right {
        right: 0; }
    .lightbox .thumb-strip:hover {
      background-color: ${lightboxBoxHoverBg}; }
      .lightbox .thumb-strip:hover button {
        color: ${lightboxButtonHover}; }
    .lightbox .thumb-strip.scroll {
      width: 100%;
      padding: 0 3rem; }
      .lightbox .thumb-strip.scroll .thumb-cont {
        overflow: hidden; }
        .lightbox .thumb-strip.scroll .thumb-cont .thumbs {
          position: absolute;
          left: 0;
          overflow: hidden; }
      .lightbox .thumb-strip.scroll button {
        display: inline-block; }
  .lightbox .controls {
    position: absolute;
    display: flex;
    overflow: hidden;
    left: 50%;
    top: 0;
    max-width: 100vw;
    transform: translateX(-50%);
    background-color: ${lightboxBoxBg};
    border-radius: 0 0 ${brm}px ${brm}px;
    box-shadow: ${lightboxBoxShadow};
    z-index: 11;
    opacity: 1;
    transition: top 300ms ease-out, background-color 300ms, opacity 1s; }
    .lightbox .controls.use-text button {
      font-size: 9px;
      padding: 0 2px 2px 2px;
      min-width: 48px;
      text-align: center; }
      .lightbox .controls.use-text button:before {
        display: block;
        line-height: 30px; }
    .lightbox .controls button {
      display: block;
      padding: 0 10px;
      color: ${lightboxTextColor};
      transition: color 500ms ease-out, background-color 500ms ease-out; }
      .lightbox .controls button:before {
        font-size: 18px;
        line-height: 48px; }
      .lightbox .controls button.previous, .lightbox .controls button.next {
        padding: 0 2px; }
      .lightbox .controls button.previous:before, .lightbox .controls button.next:before {
        font-size: 36px; }
      .lightbox .controls button:hover {
        color: ${lightboxButtonHover};
        background-color: ${lightboxBoxHoverBg}; }
      .lightbox .controls button:focus {
        outline: 1px dotted rgba(224, 224, 224, 0.1); }
      .lightbox .controls button .progress {
        position: absolute;
        height: 1px;
        overflow: hidden;
        background-color: #999;
        width: 0;
        left: 0;
        bottom: 0;
        content: ' ';
        z-index: 24;
        -moz-animation: timer ${slideshowDelay}s linear;
        -webkit-animation: timer ${slideshowDelay}s linear;
        -ms-animation: timer ${slideshowDelay}s linear;
        animation: timer ${slideshowDelay}s linear; }
    .lightbox .controls:hover {
      background-color: ${lightboxBoxHoverBg}; }
  .lightbox .lightbox-main {
    position: absolute;
    z-index: 1;
    padding: ${lightboxBorderWidth}px;
    background-color: <%=(lightboxBorderWidth > 0)? lightboxBorderColorCss : "transparent"%>;
    box-shadow: ${lightboxImageShadow};
    border-radius: ${imgCornerRadius}px;
    transition: left 500ms ease-out, top 500ms ease-out, width 500ms ease-out, height 500ms ease-out, transform 500ms, opacity 500ms; }
    .lightbox .lightbox-main > * {
      border-radius: ${lightboxImageCornerRadius}px;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none; }
    .lightbox .lightbox-main.image img {
      width: 100%; }
    .lightbox .lightbox-main.audio img.poster {
      width: 100%; }
    .lightbox .lightbox-main.audio audio {
      position: absolute;
      bottom: <%=lightboxBorderWidth + 16 + "px"%>;
      left: 50%;
      max-width: 100%;
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      min-width: 320px;
      width: 80%; }
    .lightbox .lightbox-main.video video {
      width: 100%; }
    .lightbox .lightbox-main.other {
      min-width: 240px;
      text-align: center; }
    .lightbox .lightbox-main.pdf object, .lightbox .lightbox-main.pdf iframe {
      width: 100%;
      height: 100%; }
    .lightbox .lightbox-main .click-hint {
      text-align: center;
      padding: 0.5em;
      color: ${lightText};
      font-size: 80%;
      background-color: rgba(51, 51, 51, 0.6); }
    .lightbox .lightbox-main.external {
      max-width: 100%;
      max-height: 100%;
      overflow: auto; }
      .lightbox .lightbox-main.external.iframe {
        overflow: hidden; }
    .lightbox .lightbox-main.vr {
      overflow: hidden; }
      .lightbox .lightbox-main.vr iframe {
        display: block; }
      .lightbox .lightbox-main.vr .error {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 60%;
        transform: translate(-50%, -50%);
        padding: 1rem;
        color: #eee;
        background-color: #000;
        border-radius: .5rem; }
    .lightbox .lightbox-main .regions {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
      .lightbox .lightbox-main .regions a {
        position: absolute;
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.5);
        transition: all 500ms; }
        .lightbox .lightbox-main .regions a span {
          position: absolute;
          top: 0;
          left: 0;
          max-width: 100%;
          padding: 0 4px 4px 6px;
          background-color: rgba(255, 255, 255, 0.5);
          font-size: 0.75em;
          color: ${darkText};
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          transition: all 500ms; }
        .lightbox .lightbox-main .regions a .active, .lightbox .lightbox-main .regions a:hover {
          border: 1px solid #fff; }
          .lightbox .lightbox-main .regions a .active span, .lightbox .lightbox-main .regions a:hover span {
            color: ${darkerText};
            max-width: none;
            background-color: #fff; }
  .lightbox .lightbox-caption {
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0.3125rem;
    background-color: ${lightboxBoxBg};
    border-radius: ${brm}px ${brm}px 0 0;
    box-shadow: ${lightboxBoxShadow};
    z-index: 12;
    transform: translateY(100%);
    transition: transform 300ms ease-out, opacity 1s; }
    .lightbox .lightbox-caption.hasbuttons {
      justify-content: space-between; }
      .lightbox .lightbox-caption.hasbuttons .caption {
        text-align: left; }
    .lightbox .lightbox-caption .download {
      padding: 0.5rem; }
      .lightbox .lightbox-caption .download:before {
        color: ${lightboxTextColor}; }
      .lightbox .lightbox-caption .download a {
        padding: 0.2rem;
        font-size: 0.875em; }
    .lightbox .lightbox-caption .ratingbox {
      margin: 0 0.3125rem;
      display: inline-block;
      text-align: center; }
      .lightbox .lightbox-caption .ratingbox label {
        display: block;
        letter-spacing: 0.25rem;
        font-size: 10px;
        line-height: 14px;
        opacity: 0.6; }
    .lightbox .lightbox-caption .buttons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
      .lightbox .lightbox-caption .buttons .button {
        display: inline-flex;
        align-items: center;
        padding: 0.625rem;
        margin-bottom: 0;
        margin-right: 1px;
        text-align: left;
        font-size: 0.75em;
        color: ${lightboxTextColor};
        background-color: ${lightboxBoxHoverBg};
        transition: color 500ms, background-color 500ms; }
        .lightbox .lightbox-caption .buttons .button span {
          display: none; }
        .lightbox .lightbox-caption .buttons .button:before {
          font-size: 18px; }
        .lightbox .lightbox-caption .buttons .button b {
          margin-left: .2em;
          padding: .1em .45em .2em;
          color: white;
          background-color: red;
          border-radius: ${brs}px; }
        .lightbox .lightbox-caption .buttons .button:hover {
          color: ${buttonHoverTextColor};
          background-color: ${buttonHoverBgColor}; }
      .lightbox .lightbox-caption .buttons .numbers {
        margin: 0 0.5em;
        color: ${lightboxTextColor}; }
    .lightbox .lightbox-caption .caption {
      flex: 1;
      padding: 0.3125rem;
      max-height: 30vh;
      overflow-x: hidden;
      overflow-y: auto;
      text-align: center;
      color: ${lightboxTextColor};
      scrollbar-color: dark; }
      .lightbox .lightbox-caption .caption::-webkit-scrollbar {
        width: .8rem; }
      .lightbox .lightbox-caption .caption::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.25); }
      .lightbox .lightbox-caption .caption::-webkit-scrollbar-thumb {
        border: 1px solid rgba(0, 0, 0, 0.5);
        background-color: rgba(255, 255, 255, 0.15); }
      .lightbox .lightbox-caption .caption h1, .lightbox .lightbox-caption .caption h2, .lightbox .lightbox-caption .caption h3, .lightbox .lightbox-caption .caption h4, .lightbox .lightbox-caption .caption h5, .lightbox .lightbox-caption .caption h6 {
        color: ${lightboxTextColor}; }
      .lightbox .lightbox-caption .caption h1 {
        font-size: 1.6em; }
      .lightbox .lightbox-caption .caption h2 {
        font-size: 1.4em; }
      .lightbox .lightbox-caption .caption h3 {
        font-size: 1.2em; }
      .lightbox .lightbox-caption .caption h4 {
        font-size: 1.1em; }
    .lightbox .lightbox-caption:hover {
      background-color: ${lightboxBoxHoverBg}; }
  .lightbox .controls .zoom-in,
  .lightbox .controls .zoom-out,
  .lightbox .controls .zoom-level,
  .lightbox .controls .hide-thumbs,
  .lightbox .controls .hide-caption,
  .lightbox .controls .pause {
    display: none; }
  .lightbox.thumbs-visible .thumb-strip {
    top: 0; }
  .lightbox.thumbs-visible .controls {
    top: ${thumbstripHeight}px; }
    .lightbox.thumbs-visible .controls > .hide-thumbs {
      display: inline-block; }
    .lightbox.thumbs-visible .controls > .show-thumbs {
      display: none; }
  .lightbox.show-zoom-in .controls .zoom-in {
    display: block; }
  .lightbox.show-zoom-out .controls .zoom-out {
    display: block; }
  .lightbox.show-zoom-level .controls .zoom-level {
    display: block; }
  .lightbox .controls .exitfullscreen {
    display: none; }
  .lightbox.fullscreen .controls .fullscreen {
    display: none; }
  .lightbox.fullscreen .controls .exitfullscreen {
    display: block; }
  .lightbox.no-caption .controls .show-caption,
  .lightbox.no-caption .controls .hide-caption {
    display: none !important; }
  .lightbox.caption-visible .lightbox-caption {
    transform: translateY(0); }
  .lightbox.caption-visible .controls .hide-caption {
    display: block; }
  .lightbox.caption-visible .controls .show-caption {
    display: none !important; }
  .lightbox.playing .controls .pause {
    display: block; }
  .lightbox.playing .controls .play {
    display: none !important; }
  .lightbox.controls-hide .controls {
    opacity: 0; }

.jalbumWidgetbar .lightbox-caption {
  bottom: 20px; }

.lightbox-caption .photodata p {
  display: inline-block; }
  .lightbox-caption .photodata p b {
    margin: 0 .25rem 0 0; }
  .lightbox-caption .photodata p i {
    margin: 0 1rem 0 0; }

/********* medium displays >= 640px */
@media screen and (min-width: 30em) {
  .lightbox .thumb-strip {
    max-width: 90%; }
    .lightbox .thumb-strip.scroll {
      width: 90%; }
  .lightbox .lightbox-caption {
    width: 90%;
    left: 5%; } }
@media screen and (min-width: 40em) {
  .lightbox .controls.use-text {
    text-align: center; }
    .lightbox .controls.use-text button {
      padding: 0 4px 4px 4px;
      min-width: 60px;
      font-size: 11px; }
      .lightbox .controls.use-text button:before {
        line-height: 39px; }
  .lightbox .controls button {
    padding: 0 14px; }
    .lightbox .controls button:before {
      line-height: 55px;
      font-size: 22.5px; }
    .lightbox .controls button.previous, .lightbox .controls button.next {
      padding: 0 4px; }
    .lightbox .controls button.previous:before, .lightbox .controls button.next:before {
      font-size: 45px; }
  .lightbox .thumb-strip {
    max-width: 80%; }
    .lightbox .thumb-strip.scroll {
      width: 80%; }
  .lightbox .lightbox-caption {
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
    left: 10%; }
    .lightbox .lightbox-caption .caption {
      padding: 0.3125rem 0.625rem;
      text-align: left;
      width: max-content; }
    .lightbox .lightbox-caption .caption + .buttons {
      margin-left: auto; }
    .lightbox .lightbox-caption .buttons {
      justify-content: flex-end; }
      .lightbox .lightbox-caption .buttons .button {
        margin-bottom: 1px; }
        .lightbox .lightbox-caption .buttons .button span {
          margin-left: 0.46875rem;
          display: block; } }

/*# sourceMappingURL=laza.lightbox.css.map */
