@charset "UTF-8";
/* laza.feedback.scss */

@import 'defaults';

@-webkit-keyframes pop {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(1.15); }
	100% { -webkit-transform: scale(1); }
}

@-moz-keyframes pop {
	0% { -moz-transform: scale(1); }
	50% { -moz-transform: scale(1.15); }
	100% { -moz-transform: scale(1); }
}

@keyframes pop {
	0% { transform: scale(1); }
	50% { transform: scale(1.15); }
	100% { transform: scale(1); }
}

.modal.feedback-cart {
	.window {
		max-width: 96vw;
		max-height: 96vh;
		&.has-header .content {
			width: 100%;
			padding: 0;
			overflow-y: auto;
		}
		.button.icon-close {
			flex: none;
			margin: 0 .25rem 0 0;
			padding: 0;
			border-radius: 0.25rem;
			color: _(modalColor);
			background-color: _(modalBgColorAlt);
			width: 1.5rem;
			height: 1.5rem;
			&:hover {
				color: #fff;
				background-color: #c00;
			}
			&:before {
				font-size: 18px;
				line-height: 1.5rem;
			}
		}
		.before-items, 
		.after-items {
			padding: 1rem;
			border-bottom: 1px solid _(modalColor);
		}
		.items {
			.item {
				display: flex;
				flex-flow: column;
				padding: $gap2 $gap3;
				&:nth-child(even) {
					background-color: _B('modalWindowsLight? "rgba(255,255,255,0.5)" : "rgba(255,255,255,0.05)"');
				}
				.info {
					display: flex;
					align-items: center;
					margin: 0 0 $gap2 0;
					.thumb {
						max-width: 90px;
						max-height: 60px;
						margin: .1rem .25rem;
						transition: transform 400ms;
						&:hover {
							transform: scale(2);
						}
					}
					.title {
						flex: 2;
						min-width: 10%;
						overflow: hidden;
						line-height: 1.5;
						padding: 0 $gap2;
						text-overflow: ellipsis;
					}
				}
				.data {
					text-align: center;
					&:last-child {
						margin-bottom: 0;
					}
					input, textarea, select {
						margin-bottom: .5rem;
					}
				}
			}
		}
		.details,
		.new-items {
			border-bottom: 1px solid _(modalColor);
		}
		.summary {
			padding: $gap2 $gap3;
			line-height: 40px;
			text-align: center;
			background-color: _(modalHighlightBgColor);
			border-bottom: 1px solid _(modalColor);
			.summary-txt {
				display: inline-block;
				img {
					margin: 0.1rem;
					max-height: 40px;
				}
			}
			.details-btn {
				display: inline-block;
				margin-left: $gap2;
				padding: 0 $gap3 0 $gap2;
				background-color: #444;
				color: #ddd;
				transition: background-color .25s ease-out, color .25s ease-out;
				&:hover {
					color: #fff;
					background-color: #222;
				}
			}
		}
		.buttons {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: stretch;
			margin: $gap2 0;
			padding: $gap1 $gap3;
			text-align: center;
		}
		.fineprint {
			margin: $gap2 0;
			padding: 0 $gap3;
			text-align: center;
			font-size: $fontXS;
		}
		.instructions {
			margin: $gap2 0 0 0;
			padding: $gap2 $gap3;
			border-top: 1px solid #aaa;
			> div {
				font-size: $fontS;
				overflow: hidden;
			}
			&:before {
				float: left;
				line-height: 1.25;
				margin-right: $gap1;
			}
		}
		input[readonly] {	
			border: 0;
			box-shadow: none;
			padding: .5rem;
			height: auto;
			margin-bottom: 0;
		}
	}
}
	
.modal {
	.instructions {
		margin: &gap2;
		font-size: 0.85rem;
	}
}

/* medium displays >= 640px */
@media only screen and (min-width: $bp_medium),
	only screen and (orientation: landscape) {
	.modal.feedback-cart {
		.window {
			max-width: _(maxPageWidth);
			.items {
				.item {
					flex-flow: row wrap;
					padding: $gap2 $gap3;
					text-align: left;
					.info {
						flex: 4;
						max-width: 44%;
						margin: 0 $gap2 0 0;
					}
					.data {
						flex: 5;
						form.inline {
							text-align: right;
							label, select, [type=color], [type=date], [type=datetime-local], [type=datetime], [type=month], [type=number], [type=tel], [type=text] {
								display: inline-block;
								width: auto;
							}
						}
					}
				}
			}
			.summary {
				text-align: left;
				.details-btn {
					float: right;
				}
			}
		}
	}
}

/* large displays >= 1024px */
@media only screen and (min-width: $bp_large) {
	.modal.feedback-cart {
		.window {
			.items {
				.item {
					.info {
						.title {
							width: 60%;
						}
					}
				}
			}
		}
	}
}

@media print {
	.modal.feedback-cart {
		.window {
			width: 100%;
			height: auto;
			.items {
				.item {
					line-height: 60px;
					padding: 0.2rem;
					text-align: left;
					.data {
						display: inline-block;
						float: right;
					}
				}
			}
		}
	}
}

