@charset "UTF-8";
/* laza.modal.scss */

$button-size: 60;
$icon-stroke-width: 2;
$icon-arrow-translate-y: $icon-stroke-width / 2 * 0.7071;

@import 'defaults';

.modal {
	background: rgba(0,0,0,.75);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 300000;
	.window {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: auto;
		max-width: 96%;
		width: fit-content;
		padding: 0;
		color: _(modalColor);
		background-color: _(modalBgColor);
		@include translate(-50%, -50%);
		overflow: hidden;
		border-radius: _U(brl,px);
		box-shadow: _(boxShadow);
		&.small {
			max-width: 70%;
		}
		&.large {
			min-width: 80%;
		}
		&.alert {
			border-left: 4px solid #900;
		}
		&.warning {
			border-left: 4px solid #f90;
		}
		&.success {
			border-left: 4px solid #090;
		}
		&.secondary {
			border-left: 4px solid #777;
		}
		.content {
			padding: 20px 60px 20px 20px;
			-webkit-overflow-scrolling: touch;
		}
		&.has-header {
			.content {
				padding: 1rem;	
			}
		}
		&.no-padding {
			.content {
				padding: 0;
			}
		}
		header {
			height: ($button-size)+px;
			line-height: ($button-size)+px;
			padding-left: 20px;
			padding-right: 75px;
			text-align: left;
			color: _(modalHeadColor);
			background-color: _(modalHeadBgColor);
		}
		.content {
			max-height: calc(96vh - 4rem);
			overflow-x: hidden;
			overflow-y: auto;
			width: auto;
			@include niceWebkitScroll();
			.thumbnails .cont .card .caption {
				@include niceWebkitScroll();
			}
			h1, h2, h3, h4, h5, h6 {
				color: _(modalColor);
				padding-right: $gap3;
			}
			.text-center {
				text-align: center;
			}
			> .buttons:first-child {
				margin-top: 0;
			}
		}
		&.map {
			padding: 0 60px 0 0;
			background-color: #000;
			img {
				max-width: none;
			}
		}
		.close {
			background-color: $darken20;
			padding: 0;
			position: absolute;
			border: none;
			width: ($button-size)+px;
			height: ($button-size)+px;
			z-index: 20;
			top: 0;
			right: 0;
			&:before,
			&:after {
				position: absolute;
				margin-left: -0.5px;
				width: ($icon-stroke-width)+px;
				background-color: #ccc;
				content: '';
				bottom: 30%;
				left: 50%;
				top: 30%;
			}	
			&:before {
				@include rotate(45);
			}
			&:after {
				@include rotate(-45);
			}
			&:hover, &:focus {
				background-color: $darken70;
				outline: none;
			}
			&:hover {
				&:before,
				&:after {
					background-color: #fff;
				}
			}
		}
		> .btn.close:first-child {
			background-color: $darken50;
			border-bottom-left-radius: _U(brl,px);
		}
		.buttons {
			display: flex;
			justify-content: center;
			align-items: stretch;
			flex-flow: row wrap;
			margin-top: $gap2;
			.button {
				display: block;
				padding: $gap2 $gap3;
				margin-right: 1px;
			}
		}
	}
}

.light {
	@include niceWebkitScrollLight();
	.modal .window .content.scrollable {
		@include niceWebkitScrollLight();
	}
}

@media only screen and (min-width: $bp_medium) {
	.modal {
		.window {
			min-width: auto;
			max-width: 90%;
			&.small {
				max-width: 50%;
			}
			&.large {
				min-width: 80%;
				max-width: 96%;
			}
		}
	}
}

@media only screen and (min-width: $bp_large) {
	.modal {
		.window {
			//min-width: _B('Math.round(pageWidth * .7) + "px"');
			max-width: _U(pageWidth,px);
			&.small {
				max-width: 40%;
			}
			&.large {
				min-width: _B('Math.round(pageWidth * .8) + "px"');
				max-width: _U(pageWidth,px);
			}
		}
	}
}

@media print {
	body.has-modal {
		> * {
			display: none;
		}
		.modal {
			position: static !important;
			display: block;
			color: #000; 
			background-color: transparent !important;
			box-shadow: none;
			border: 1px solid #ddd;
			&.hidden {
				display: none;
			}
			.window {
				position: static !important;
				transform: none;
			}
			header {
				color: #000;
				background-color: #ddd;
			}
			.content {
				position: static !important;
			}
			.button {
				display: none !important;
			}
		}
	}
}
