/* laza.rangeSlider.scss */
@keyframes fade-and-hide {
  0% {
    opacity: 100%;
    visibility: visible;
    display: block; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none; } }
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotating {
  0% {
    -moz-transform: rotate(0); }
  100% {
    -moz-transform: rotate(360deg); } }
@-o-keyframes rotating {
  0% {
    -o-transform: rotate(0); }
  100% {
    -o-transform: rotate(360deg); } }
@keyframes rotating {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes appear-up {
  0% {
    -webkit-transform: translateY(32px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes appear-up {
  0% {
    -moz-transform: translateY(32px);
    opacity: 0; }
  100% {
    -moz-transform: translateY(0);
    opacity: 1; } }
@-o-keyframes appear-up {
  0% {
    -o-transform: translateY(32px);
    opacity: 0; }
  100% {
    -o-transform: translateY(0);
    opacity: 1; } }
@keyframes appear-up {
  0% {
    transform: translateY(32px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes move-down-bounce {
  0%,
		100%,
		20%,
		50%,
		80% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-16px);
    transform: translateY(-16px); }
  60% {
    -moz-transform: translateY(-7px);
    transform: translateY(-7px); } }
@-webkit-keyframes move-down-bounce {
  0%,
		100%,
		20%,
		50%,
		80% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-16px);
    transform: translateY(-16px); }
  60% {
    -moz-transform: translateY(-7px);
    transform: translateY(-7px); } }
@keyframes move-down-bounce {
  0%,
		100%,
		20%,
		50%,
		80% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-16px);
    -ms-transform: translateY(-16px);
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px); }
  60% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px); } }
input[type=range] {
  width: 100%;
  line-height: 32; }

.rangeslider {
  display: block;
  width: 100%;
  overflow: visible;
  position: relative;
  padding: 32px 32px 16px 32px; }
  .rangeslider .min-val,
  .rangeslider .max-val {
    position: absolute;
    top: -2px;
    height: 12px;
    font-family: Consolas, "Lucida Console", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size: 75%;
    opacity: 0.3;
    z-index: 1; }
  .rangeslider .min-val {
    left: 32px;
    transform: translateX(-50%); }
  .rangeslider .max-val {
    right: 32px;
    transform: translateX(50%); }
  .rangeslider.focus .rail {
    outline: 1px solid #8a8a8a;
    -webkit-box-shadow: 0 0 5px #cacaca;
    box-shadow: 0 0 5px #cacaca; }
  .rangeslider .rail {
    position: relative;
    height: 4px;
    background-color: rgba(31, 31, 31, 0.2); }
    .rangeslider .rail .range-bar {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 4px;
      overflow: visible;
      background-color: ${buttonBgColor};
      z-index: 2; }
    .rangeslider .rail button {
      display: inline-block;
      position: absolute;
      border-radius: 10%;
      width: 32px;
      height: 32px;
      transform: translate(-16px, -14px);
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid #222;
      cursor: e-resize; }
      .rangeslider .rail button.low {
        left: 0;
        z-index: 4; }
      .rangeslider .rail button.high {
        left: 100%;
        z-index: 3; }
      .rangeslider .rail button .number {
        position: absolute;
        left: 50%;
        top: -4px;
        padding: .2rem;
        font-family: Consolas, "Lucida Console", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
        font-size: 75%;
        transform: translate(-50%, -100%);
        background-color: #fff;
        color: #111; }
      .rangeslider .rail button.moving .number {
        color: #fff;
        background-color: ${buttonBgColor}; }
      .rangeslider .rail button.last-touch {
        z-index: 5; }
      .rangeslider .rail button:after {
        width: 4px;
        height: 8px;
        content: '';
        position: absolute;
        left: 13px;
        top: 11px;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=laza.rangeSlider.css.map */
