@charset "UTF-8";
/* laza.feedback.scss */

@import 'defaults';

@-webkit-keyframes pop {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(1.15); }
	100% { -webkit-transform: scale(1); }
}

@-moz-keyframes pop {
	0% { -moz-transform: scale(1); }
	50% { -moz-transform: scale(1.15); }
	100% { -moz-transform: scale(1); }
}

@keyframes pop {
	0% { transform: scale(1); }
	50% { transform: scale(1.15); }
	100% { transform: scale(1); }
}

.modal.feedback-cart {
	.window {
		width: 92%;
		max-height: none;
		height: 94%;
		left: 4%;
		&.has-header .content {
			position: absolute;
			width: 100%;
			bottom: 0;
			top: 60px;
			padding: 0;
			overflow-y: auto;
		}
		.buttons {
			text-align: center;
			padding: $gap3 0;
			border-top: 1px solid _(modalColor);
			.button {
				display: inline-block;
				margin: 0.25rem;
			}
		}
		.button.icon-cancel {
			margin: 0 .25rem 0 0;
			padding: .2rem;
			border-radius: 2rem;
			color: _(modalColor);
			background-color: _(modalBgColorAlt);
			&:hover {
				color: #fff;
				background-color: #c00;
			}
			&:before {
				margin-right: 0;
			}
		}
		.before-items, 
		.after-items {
			padding: 1rem;
			border-bottom: 1px solid _(modalColor);
		}
		.items {
			.item {
				padding: 1rem;
				&:nth-child(even) {
					background-color: _B('modalWindowsLight? "rgba(255,255,255,0.8)" : "rgba(255,255,255,0.1)"');
				}
				.info {
					> * {
						display: inline-block;
						vertical-align: middle;
					}
					.thumb {
						max-width: 100px;
						max-height: 60px;
						margin: .1rem .25rem;
						transition: transform 400ms;
						&:hover {
							transform: scale(2);
						}
					}
					.title {
						font-size: $fontS;
						padding: 0 0.25rem;
						max-width: 100%;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				.data {
					text-align: center;
					&:last-child {
						margin-bottom: 0;
					}
					input, textarea, select {
						margin-bottom: .5rem;
					}
				}
			}
		}
		.details,
		.new-items {
			border-bottom: 1px solid _(modalColor);
		}
		.summary {
			padding: 1rem;
			line-height: 40px;
			text-align: center;
			background-color: _(modalHighlightBgColor);
			border-bottom: 1px solid _(modalColor);
			.summary-txt {
				display: inline-block;
				img {
					margin: 0.1rem;
					max-height: 40px;
				}
			}
			.details-btn {
				display: inline-block;
				margin-left: .5rem;
				padding: 0 .75rem 0 .5rem;
				background-color: #444;
				color: #ddd;
				transition: background-color .25s ease-out, color .25s ease-out;
				&:hover {
					color: #fff;
					background-color: #222;
				}
			}
		}
		p.fineprint {
			font-size: 0.7rem;
			margin: 0.35rem 0;
		}
		.instructions {
			margin-top: .5rem;
			border-top: 1px solid #aaa;
			padding: 1rem;
			> div {
				font-size: 0.85rem;
				overflow: hidden;
			}
			&:before {
				float: left;
				line-height: 1.5;
				margin-right: 0.5rem;
			}
		}
		input[readonly] {	
			border: 0;
			box-shadow: none;
			padding: .5rem;
			height: auto;
			margin-bottom: 0;
		}
	}
}
	
.modal {
	.instructions {
		margin: &gap2;
		font-size: 0.85rem;
	}
}

.feedback-shortcut {
	position: fixed;
	right: $gap0;
	bottom: $gap0;
	z-index: 9;
	.button {
		margin-bottom: 0;
		b {
			margin-left: .2em;
			padding: 0.1em .45em .2em;
			color: _(buttonBgColor);
			background-color: _(buttonColor);
			border-radius: .8em;
		}
		&.add-cart {
			b {
				color: white;
				background-color: red;
			}
		}
		&.pop {
			-webkit-animation: pop $transTime ease;
			-moz-animation: pop $transTime ease;
			animation: pop $transTime ease;
		}
	}
}

/* medium displays >= 640px */
@media only screen and (min-width: 40.063em),
	only screen and (orientation: landscape) {
	.modal.feedback-cart {
		.window {
			width: 80%;
			height: 80%;
			left: 10%;
			.items {
				.item {
					padding: 1rem;
					text-align: left;
					> * {
						display: inline-block;
						vertical-align: middle;
					}	
					.info {
						width: 44%;
						margin-right: 4%;
						.thumb {
							max-width: 30%;
						}
						.title {
							width: 48%;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
					.data {
						text-align: left;
						width: 52%;
						form.inline {
							text-align: right;
							label, select, [type=color], [type=date], [type=datetime-local], [type=datetime], [type=month], [type=number], [type=tel], [type=text] {
								display: inline-block;
								vertical-align: middle;
								width: auto;
							}
						}
					}
				}
			}
			.summary {
				text-align: left;
				.details-btn {
					float: right;
				}
			}
		}
	}
	.feedback-shortcut {
		position: fixed;
		right: $gap3;
		bottom: $gap3;
	}
}

/* large displays >= 1024px */
@media only screen and (min-width: 64.063em) {
	.modal.feedback-cart {
		.window {
			width: 70%;
			left: 15%;
			.items {
				.item {
					.info {
						.title {
							width: 60%;
						}
					}
				}
			}
		}
	}
}

@media print {
	.modal.feedback-cart {
		.window {
			width: 100%;
			height: auto;
			left: none;
			.items {
				.item {
					line-height: 60px;
					padding: 0.2rem;
					text-align: left;
					.data {
						display: inline-block;
						float: right;
					}
				}
			}
		}
	}
}

