/* user-m.scss :: User defined styles for min width: 640px */
@keyframes fade-and-hide {
  0% {
    opacity: 100%;
    visibility: visible;
    display: block; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none; } }
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotating {
  0% {
    -moz-transform: rotate(0); }
  100% {
    -moz-transform: rotate(360deg); } }
@-o-keyframes rotating {
  0% {
    -o-transform: rotate(0); }
  100% {
    -o-transform: rotate(360deg); } }
@keyframes rotating {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes appear-up {
  0% {
    -webkit-transform: translateY(32px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes appear-up {
  0% {
    -moz-transform: translateY(32px);
    opacity: 0; }
  100% {
    -moz-transform: translateY(0);
    opacity: 1; } }
@-o-keyframes appear-up {
  0% {
    -o-transform: translateY(32px);
    opacity: 0; }
  100% {
    -o-transform: translateY(0);
    opacity: 1; } }
@keyframes appear-up {
  0% {
    transform: translateY(32px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes move-down-bounce {
  0%,
		100%,
		20%,
		50%,
		80% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-16px);
    transform: translateY(-16px); }
  60% {
    -moz-transform: translateY(-7px);
    transform: translateY(-7px); } }
@-webkit-keyframes move-down-bounce {
  0%,
		100%,
		20%,
		50%,
		80% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-16px);
    transform: translateY(-16px); }
  60% {
    -moz-transform: translateY(-7px);
    transform: translateY(-7px); } }
@keyframes move-down-bounce {
  0%,
		100%,
		20%,
		50%,
		80% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-16px);
    -ms-transform: translateY(-16px);
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px); }
  60% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px); } }
h1 {
  font-size: <%=Math.round(baseFontSize * 2.5) + "px"%>; }

h2 {
  font-size: <%=Math.round(baseFontSize * 1.75) + "px"%>; }

h3 {
  font-size: <%=Math.round(baseFontSize * 1.5) + "px"%>; }

h4 {
  font-size: <%=Math.round(baseFontSize * 1.25) + "px"%>; }

.small-column,
.cont.small-column {
  flex-direction: row; }

#topnav .topnav-toggle {
  display: none; }
#topnav > ul > li {
  display: flex; }
#topnav > .menu {
  display: flex;
  /*
  > ul > li {
  	position: absolute;
  }
  */ }
  #topnav > .menu li.actual-branch > ul {
    display: none; }
  #topnav > .menu li.actual-branch:hover > ul {
    display: block; }
  #topnav > .menu > li ul {
    position: absolute;
    top: 100%;
    border-left: none;
    margin-left: 0; }
#topnav .left-column {
  margin-right: 0.625rem; }

.menu-on #topnav > .menu {
  display: flex; }

.hero .cont .controls {
  max-width: none; }
  .hero .cont .controls .buttons {
    flex-direction: row;
    white-space: nowrap; }
    .hero .cont .controls .buttons .button {
      border-top: none;
      border-left: 1px solid rgba(0, 0, 0, 0.6);
      border-radius: 0; }
      .hero .cont .controls .buttons .button:first-child {
        border-top-left-radius: ${brs}px;
        border-bottom-left-radius: ${brs}px;
        border-left: none; }
      .hero .cont .controls .buttons .button:last-child {
        border-top-right-radius: ${brs}px;
        border-bottom-right-radius: ${brs}px; }

.content section:not(.custom-content) .cont.box {
  flex-flow: row wrap; }

.content section.custom-content .cont {
  flex-direction: column;
  align-items: center; }

.tag-search {
  margin: 0.3125rem; }

.folders .cont .card {
  width: ${folderWidthM}; }

.thumbnails .cont.fixgrid .card, .thumbnails .cont.grid .card, .thumbnails .cont.flexgrid .card {
  width: ${thumbWidthM}; }
.thumbnails .cont.horizontal:after {
  flex: 50;
  content: ''; }
.thumbnails .cont.horizontal .card:not(.icon):not(.tiny) img {
  height: ${thumbHeightM}; }

.filter-cont {
  text-align: left; }
  .filter-cont .cont {
    flex-flow: row wrap;
    justify-content: flex-start; }
  .filter-cont form {
    margin-bottom: 0; }
    .filter-cont form.filter {
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1; }
    .filter-cont form.sort {
      padding: 0.3125rem;
      align-items: center;
      align-self: flex-start;
      margin-left: 0.625rem; }
    .filter-cont form.multi {
      flex-flow: row wrap;
      order: 3;
      flex: 0 0 100%;
      justify-content: center; }
      .filter-cont form.multi .buttons {
        margin: 1.5rem 1.5rem 0 1.5rem; }
      .filter-cont form.multi .buttons:nth-child(n-3) {
        margin-left: auto;
        padding-left: 1rem; }
    .filter-cont form.single {
      flex-flow: row nowrap;
      flex: 4; }
      .filter-cont form.single .group {
        margin: 0 0.3125rem;
        display: flex;
        align-items: center; }
        .filter-cont form.single .group > * {
          margin: 0 0.3125rem; }
      .filter-cont form.single .buttons {
        margin: 0;
        padding: 0; }
    .filter-cont form .group.range {
      width: auto;
      flex: 1 2 auto; }
    .filter-cont form .group.select {
      width: auto;
      min-width: 180px; }
      .filter-cont form .group.select select {
        width: 100%; }
    .filter-cont form .buttons {
      display: block;
      margin: 0 0.625rem;
      flex-flow: row nowrap;
      align-self: flex-start; }

/*# sourceMappingURL=main-m.css.map */
