<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".woff" mimeType="application/x-woff" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
		</staticContent>
	</system.webServer>
</configuration>