.lightbox .thumb-strip {
	background-image: url(bg1.jpg);
	border-left: 2px dashed #000;
	border-right: 2px dashed #000;
	border-bottom: 2px dashed #000;
}
.lightbox .lightbox-caption {
	background-image: url(bg1.jpg);
	border-left: 2px dashed #000;
	border-right: 2px dashed #000;
	border-top: 2px dashed #000;
}
