.thumbnails .column .card .add-cart,
.thumbnails .column .card .checkbox {
	color: #222;
	text-shadow: none;
	border: 1px solid #222;
	background-color: rgba(255,255,255,0.7);
}
.whatinput-types-mouse .thumbnails .column .card .checkbox, 
.whatinput-types-mouse .thumbnails .column .card .add-cart {
	color: #222;
	border: 1px solid #222;
	background-color: rgba(255,255,255,0.7);
}
.whatinput-types-mouse .thumbnails .column .card:hover .checkbox, 
.whatinput-types-mouse .thumbnails .column .card:hover .add-cart {
	color: #222;
	border: 1px solid #222;
	background-color: rgba(255,255,255,0.9);
}
